@charset "utf-8";


/*
    Imports
*/

// Google Fonts
// -------------------------
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
// Variables
// -------------------------
@import 'variables';
// Normalize
// -------------------------
//@import 'normalize';
// Bootstrap
// -------------------------
@import 'my-bootstrap';
// FontAwesome
// -------------------------
@import 'my-font-awesome';
// NProgress
// -------------------------
//$nprogress-color: $app-clr-darkblue;
//@import 'nprogress';
//@import 'nprogress-bootstrap';
//#nprogress .peg{
//  @include box-shadow(none);
//}



/*
    Main Style
*/

// Resets
// -------------------------
*{
  outline: 0 none;
}
hr{
  border-color: darken($app-clr-lightgray, 20%);
  @include box-shadow(0 1px 1px rgba(0,0,0,.1));

  &.block-divider{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
i{
  &.inline{
    margin: 0 4px;
  }
}
.row{
  margin-left: auto;
  margin-right: auto;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-weight-normal{
  font-weight: 500 !important;
}
.text-weight-light{
  font-weight: 300 !important;
}
.text-size-normal{
  font-size: 14px !important;
}
.block-box{
  @include gradient-vertical($app-clr-lightgray, darken($app-clr-lightgray, 5%), 85%, 100%);
  @include box-shadow(0 0 5px rgba(0,0,0,.2));
  padding: 0;
  background-color: $app-clr-lightgray;
  border: 1px solid darken($app-clr-lightgray, 20%);
}
.block-heading{
  margin-bottom: 20px;
  padding: 0 0 4px 0;
  font-weight: 300;
  color: darken($app-clr-darkgray, 6%);
  border-bottom: 1px solid darken($app-clr-lightgray, 6%);
}
.my-nav-pills{
  width: 96%;
  margin: 0 auto;
  margin-top: -10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  background-color: $app-clr-lightgray;
  @include gradient-vertical($app-clr-lightgray, darken($app-clr-lightgray, 3%), 85%, 100%);
  border: 1px solid darken($app-clr-lightgray, 10%);
  border-top: 0 none;
  @include border-bottom-radius(4px);
  @include box-shadow(0 1px 5px rgba(0,0,0,.1));

  li{
    min-width: 19.5%;
    padding-top: 4px;
    text-align: center;

    a{
      font-size: 15px;
      color: $app-clr-darkgray;
      text-shadow: 0 2px 2px rgba(255,255,255,.5);

      &:hover,
      &:focus{
        color: $app-clr-darkblue;
        background-color: transparent;
        text-shadow: 0 2px 2px rgba(255,255,255,.5);
      }
    }

    &.active > a{
      &,
      &:hover,
      &:focus{
        font-weight: 700;
        text-shadow: 0 2px 2px rgba(255,255,255,.5);
        color: $app-clr-darkblue;
        background-color: transparent;
      }
    }
  }

  @media (max-width: $screen-sm-min){
    li{
      float: none;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: $screen-sm-max){
    padding-top: 5px;
    @include gradient-vertical($app-clr-lightgray, darken($app-clr-lightgray, 3%), 96%, 100%);

    li{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;

      a{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
    }
  }
}
.my-progress{
  margin-bottom: 10px;
  height: 12px;

  .php{
    background-color: $app-clr-php;
  }
  .mysql{
    background-color: $app-clr-mysql;
  }
  .rubyonrails{
    background-color: $app-clr-ruby;
  }
  .html5{
    background-color: $app-clr-html;
  }
  .css3{
    background-color: $app-clr-css;
  }
  .javascript{
    background-color: $app-clr-javascript;
  }
  .as3{
    background-color: $app-clr-as3;
  }
  .photoshop{
    background-color: $app-clr-photoshop;
  }

  .monochrome{
    background-color: lighten($app-clr-darkblue, 12%);
  }
}

// Base
// -------------------------
body{
  padding-top: 20px;
  font-weight: 400;
  background-image: image-url('bg_pattern_trans.png');
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

// Forms
// -------------------------
::-webkit-input-placeholder{
  color: darken($app-clr-white, 20%) !important;
  font-weight: 200;
}
:-moz-placeholder{
  font-weight: 200;
}
::-moz-placeholder{
  font-weight: 200;
}
:-ms-input-placeholder{
  font-weight: 200;
}

// Lists
// -------------------------
ul{
  list-style: none;

  &.list-info{
    width: 90%;
    margin: 20px auto;
    padding-left: 0;

    li{
      margin-bottom: 5px;
      .title{
        width: 35%;
      }

      .value{

      }
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 50%;
    }
  }
}

// Header
// -------------------------
#header{

  #logo{
    margin-bottom: 15px;

    .title{
      margin: 0;
      padding: 0;
    }

    .subtitle{
      margin: 0;
      padding: 5px 1px;
      font-size: 13px;
      font-weight: 300;
      text-transform: uppercase;
      text-shadow: 0 2px 2px rgba(255,255,255,.5);
    }
  }
}

// Social
// -------------------------
#social{
  margin-bottom: 15px;
  text-align: right;

  .social-btn{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    background-color: darken($app-clr-lightgray, 6%);
    border: 1px solid darken($app-clr-lightgray, 6%);

    i{
      font-size: 18px;
      color: $app-clr-darkgray;
    }

    &:hover{
      background-color: $app-clr-darkblue;
      border-color: darken($app-clr-darkblue, 6%);
      i{
        color: $app-clr-white;
      }
      transition: all .5s ease-out;
    }
  }
}

// Page
// -------------------------
#page{
  @extend .block-box;
}

// Navigation
// -------------------------
#navigation{
  //@include box-shadow(0 0 5px rgba(0,0,0,.4));

  width: 100%;
  position: relative;
  text-align: center;
  background-color: $app-clr-darkblue;

  a{
    //@include box-shadow(0 0 5px rgba(0,0,0,.2));
    width: 120px;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: $app-clr-lightgray;
    background-color: $app-clr-darkblue;

    @media (max-width: $screen-sm-min) {
      width: 90px;
    }

    i{
      display: block;
    }
    .title{
      font-size: 15px;
      font-weight: 300;
    }

    &:hover{
      color: $app-clr-white;
      background-color: darken($app-clr-darkblue, 12%);
      i{
        color: $app-clr-white;
      }
      transition: all .5s ease-out;
    }

    &.active{
      margin-top: -7px;
      padding-top: 18px;
      color: $app-clr-darkblue;
      background-color: $app-clr-lightgray;
      @include gradient-vertical(darken($app-clr-lightgray, 8%), $app-clr-lightgray, 0%, 12%);
      border: 1px solid darken($app-clr-lightgray, 10%);
      border-bottom: 0 none;
      @include border-top-radius(4px);
      i{
        color: $app-clr-darkblue;
      }
    }
  }
}

// Main
// -------------------------
#main{
  padding: 10px;
}

// Profile
// -------------------------
#gravatar{
  padding-top: 20px;
  text-align: center;

  img{
    @extend .img-circle;
    @include box-shadow(0 0 20px rgba($app-clr-darkgray,.4));
    border: 3px solid darken($app-clr-lightgray, 15%);
  }
}

#profile-main{
  .title{
    font-size: 36px;
    font-weight: 700;
  }

  .subtitle{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(255,255,255,.5);
  }

  .about{
    margin-top: 20px;
  }
}

#profile-extra{
  margin-top: 15px;

  .list-info{
    margin: 40px auto;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 50%;
    }
  }

  @media (min-width: $screen-md-min) {
    border-left: 1px solid darken($app-clr-lightgray, 6%);
  }
}


// QRCode
// -------------------------
#qrcode{
  font-size: 12px;
  line-height: 16px;

  i{
    font-size: 16px;
  }

  #qrcode-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($app-clr-darkgray, .75);
    text-align: center;

    .qrcode-box{
      width: 200px;
      margin: 10% auto 0;

      .qrcode-close-btn{
        margin-bottom: 4px;
        padding: 5px 10px;
        text-align: right;
        color: $app-clr-white;

        &:hover{
          color: $brand-danger;
        }
      }
    }
  }
}

// Resume
// -------------------------
.block-resume-cat{
  margin-bottom: 20px;
  border-left: 2px solid rgba(lighten($app-clr-darkgray, 20%), .5);

  .title{
    margin: 0 -16px 5px -42px;
    padding: 6px 6px 6px 42px;
    font-size: 16px;
    font-weight: 500;
    color: $app-clr-white;
    background-color: lighten($app-clr-darkgray, 20%);
    border-bottom: 2px solid $app-clr-lightgray;
  }
  .title-2{
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 16px;
  }
  .subtitle{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: italic;
    color: lighten($app-clr-darkgray, 6%);
  }
  .inline-title{
    margin-bottom: 5px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(255,255,255,.5);
  }
  .date-title{
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;

    @media (min-width: $screen-sm-max){
      margin-top: 0;
      margin-left: -15px;
      padding: 8px 6px 8px 6px;
      background-color: darken($app-clr-lightgray, 6%);
    }
  }
  .skill-title{
    margin-bottom: 3px;
    padding: 0;
    font-size: 12px;
  }

  .default-list{
    list-style: disc;
    padding-left: 30px;
  }

  &.skill{
    margin-bottom: 5px;
    border-left: 0 none;
  }
}
.block-pdf-btn{
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 15px;
  border-top: 1px solid darken($app-clr-lightgray, 12%);
}

// Contact
// -------------------------
.contact{
  .list-info{
    @media (max-width: $screen-sm-max) {
      width: 100%;
      li{
        width: 100%;

        .title{
          width: 100%;
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  #contact-form{
    .fulltext{
      min-height: 100px;
    }
  }
}


// Footer
// -------------------------
#footer{
  margin-top: 5px;
  font-size: .9em;
  text-align: right;
}


// Back To Top
// -------------------------
#back-to-top-btn{
  display: none;
  margin: 0;
  padding: 7px 6px;
  color: $app-clr-lightgray;
  background-color: $app-clr-darkblue;
  opacity: 0.5;
  //@include box-shadow(0 0 5px rgba(0,0,0,.2));

  &:hover,
  &:active{
    opacity: 1;
    color: $app-clr-white;

    transition: all .25s linear;
  }

  position: fixed;
  bottom: 20px;
  left: 16px;
}


// Grid :: Media Queries
// -------------------------
.left-text-xs {
  @media (max-width: $screen-xs-max) {
    text-align: left !important;
  }
}
.left-text-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: left !important;
  }
}
.center-text-xs {
  @media (max-width: $screen-xs-max) {
    text-align: center !important;
  }
}
.center-text-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: center !important;
  }
}