/*
    Colors
*/

$app-clr-white:       #fff;
$app-clr-black:       #000;

$app-clr-lightgray:   #e9eaed;
$app-clr-darkgray:    #444;

$app-clr-lightblue:   #598cff;
$app-clr-darkblue:    #3b5998;

$app-clr-php:         #99c;
$app-clr-mysql:       #015a84;
$app-clr-ruby:        #981a21;
$app-clr-html:        #f06529;
$app-clr-css:         #5edec2;
$app-clr-javascript:  #0769ad;
$app-clr-as3:         #fe4116;
$app-clr-photoshop:   #2fc9f9;