div.block-resume-cat.skill
  h4.skill-title = I18n.t(d.skill)
  div.progress.my-progress
    div class="progress-bar progress-bar-skill monochrome #{d.skill}" data-progress="#{d.level}" role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'