div.block-resume-cat.skill
  h4.skill-title = I18n.t(d.skill)
  div.progress.my-progress
    div class="progress-bar monochrome #{d.skill}" style="width: #{d.level}%" role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100'