div#social.col-xs-12.col-sm-5.col-md-4.center-text-xs
  - data.social.profile.each do |p|
    a class="social-btn social-btn-#{p.title}" href="#{p.url}" target="_blank"
      i class="fa fa-#{p.title}"